logs/
**/logs/
**/array_work/
**/predictions/
**/predictions_flat/
**/rf3_predictions/
**/rf3_confirmations/
**/rf3_confirmations_final/
**/predictions_boltz/
**/raw_outputs/
**/foundry_rfd3/raw_outputs/
**/rfdiffusion_outputs/
**/*.cif.gz
**/*.err
**/*.out
conditions/*/backbone_list.txt
conditions/*/selected_backbone_list.txt
conditions/*/backend_logs/
